@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/assets/fonts/inter-latin-wght-normal-v1.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  font-weight: 200 700;
  src: url("/assets/fonts/oswald-latin-wght-normal-v1.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/assets/fonts/barlow-condensed-latin-600-normal-v1.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/assets/fonts/barlow-condensed-latin-700-normal-v1.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("/assets/fonts/barlow-condensed-latin-800-normal-v1.woff2") format("woff2");
}
